*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FFFFFF;
}

.imgizq{
	position: absolute;
	top: 60px;
	left: 30px;
	width: 130px;
	height: 100px;
	border: none;
	border-radius: 15px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);

}

.imgder{
	position: absolute;
	right: 30px;
	top: 60px;
	width: 130px;
	height: 100px;
	border-radius: 15px;
	border: none;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
}


.cuadro{
    width: 6in;
	height: 7.5in;
	position: relative;
	left: calc((100% - 6in)/2);
	margin-top: 15px;
    margin-bottom: 15px;
	border-radius: 15px;
	border-style: solid;
	border:none;
	background:#0E611B; 
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	
}

.cuadro h2{
	position: relative;
	top: 80px;
	font-size: 19pt;
	font-weight: bold;
	color: #FFFFFF;
}

.cuadro h3{
	margin-top: 180px;
	margin-bottom: 50px;
	color: #FFFFFF;
	font-size: 15pt;
	font-weight: bold;
}

.cuadro p{
	color: #FFFFFF;
	margin-top: 60px;
	font-size: 13pt;
	font-weight: bold;
}

.boton{
	background-color:#FFFFFF;
	border-style: solid; 
	 /* #0E611B; */
	border-color:#FF9999;
	border-radius: 13px;
	width: 170px;
	height: 35px;
	font-size: 12pt;
	font-weight: bold;
	color: #9C1462;
	margin-top: 8px;
	margin-bottom: 8px;
	/* hacer difuminado de color de fondo 
	background-image: linear-gradient(to right, #0E611B, rgb(21, 186, 62)); */
	

/* 
	border-style example classes 
.b1 {border-style:none;}
.b2 {border-style:hidden;}
.b3 {border-style:dotted;}
.b4 {border-style:dashed;}
.b5 {border-style:solid;}
.b6 {border-style:double;}
.b7 {border-style:groove;}
.b8 {border-style:ridge;}
.b9 {border-style:inset;}
.b10 {border-style:outset;} */
}

/* 
----------------------------------------------------------------------------------
estilo de persona fisica
---------------------------------------------------------------------------------- */

/* 
	Color verde
	background: #0cc625;
	/* 
	 */
	/* Fondo de color azul

	background: #1D447D;  */
.cuadropf{
	width: 8in;
	height: 12in;
	position: relative;
	left: calc((100% - 8in)/2);
	margin-top: 15px;
    margin-bottom: 15px;
	border-radius: 15px;
	border-style: solid;
	border:none;
	background:#0E611B; 
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	color: #FFFFFF;
	}


.cuadropf h1{
	text-align: center;
}

.cuadropf h2{
	text-align: center;
	margin-bottom: 10px;
}

.cuadropf select{
	height: .3in;
	width: 2in;
	border-radius: 8px;
	margin-bottom: 5px;
	color: #9C1462;
	font-weight: bold;
	font-size: 12pt;
	border: none;
	margin-top: 5px;
	text-align: center;
	/* text-indent: 10px; */

}

.cuadropf input{
	height: .3in;
	width: 2.2in;
	border-radius: 8px;
	color: #9C1462;
	font-weight: bold;
	font-size: 12pt;
	border: none;
	text-indent: 10px;
	margin-top: 5px;

}

.seccion1{

	position:relative;
	top: 30px;
	column-count: 2;
	margin-bottom: 0.6in;
	margin-left: 1in;
	font-size: 13.5pt;
	font-weight: bold;
	
}

.name{
	column-count: 3;
	font-size: 13.5pt;
	font-weight: bold;
	margin-bottom: 0.15in;
	margin-left: 0.25in;

}

.datospf{
	column-count: 3;
	font-size: 13.5pt;
	font-weight: bold;
	margin-bottom: 0.15in;
	margin-left: 0.25in;
}

.datospf{
	column-count: 3;
	font-size: 13.5pt;
	font-weight: bold;
	margin-bottom: 0.15in;
	margin-left: 0.25in;
}

.domicilio{
	column-count: 2;
	font-size: 13.5pt;
	font-weight: bold;
	margin-bottom: 0.15in;
	margin-left: 1in;
}

.asentamiento{
	column-count: 2;
	font-size: 13.5pt;
	font-weight: bold;
	margin-bottom: 0.15in;
	margin-left: 1in;
}

.asentamiento input{
	margin-bottom: 10px;
}

.actividad{
	font-size: 13.5pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;

}

#sigboton{
	position: relative;
	bottom: 90px;
	
	left: 9.5in;

}

#menuboton{
	position: relative;
	bottom: 90px;
	
	left: 5.2in;
}



/* -------------------------------------------------------------------------------------------------------------------------------------

inicio de estilo de datos proyecto
2_datosproyectopf
Datos del Proyecto para Persona Física
------------------------------------------------------------------------------------------------------------------------------------- */


.cuadropdp{

	width: 8in;
	height: 10in;
	position: relative;
	left: calc((100% - 8in)/2);
	margin-top: 15px;
    margin-bottom: 15px;
	border-radius: 15px;
	border-style: solid;
	border:none;
	background:#0E611B; 
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	color: #FFFFFF;
}


.cuadropdp input{
	height: .3in;
	width: 2.2in;
	border-radius: 8px;
	color: #9C1462;
	font-weight: bold;
	font-size: 12pt;
	border: none;
	text-indent: 10px;
	margin-top: 5px;
}


.cuadropdp select{
	height: .3in;
	width: 2in;
	border-radius: 8px;
	margin-bottom: 5px;
	color: #9C1462;
	font-weight: bold;
	font-size: 12pt;
	border: none;
	margin-top: 5px;
	text-align: center;
	/* text-indent: 10px; */
}

.cuadropdp h1{
	text-align: center;
}

.seccion1{
	column-count: 2;
	background: black;

}

.seccion2{
	column-count: 2;
	background: black;
}

.seccion3{
	column-count: 3;
	background: black;
}

.seccion4{
	column-count: 2;
	background: black;
}

.seccion5{
	column-count: 2;
	background: black;
}

.seccion6{
	column-count: 2;
	background: black;
}