*{
	margin: 0;
	padding: 0;
}

body{

	background-color: #FFFFFF;
}


.Marco{
	

	width: 7.5in;
	height: 8in;
	
	position: absolute;
	top: 30px;
	left: calc((100% - 7.5in)/2);
	bottom: 2in;

	border-radius: 15px;
	border-style: solid;
	border:none;
/* 
	Color verde
	background: #0cc625;
	/* background:#0E611B; 
	 */

	background: #1D447D; 
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	margin-bottom: 50px;

}


.login{

	width: 650px;
	height: 600px;
	position: absolute;
	top: 30px;
	left: 28%;
	
	border-radius: 15px;
	border-style: solid;
	border:none;

	background: #1D447D;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	margin-bottom: 50px;
	color: #FFFFFF;

}

.login h1{
	margin-top: 15px;
	margin-bottom: 25px;
	
}

.login h2{
	margin-top: 15px;
	margin-bottom: 25px;
	
}



.centrol h3{
	margin-top: 5px;
	margin-bottom: 5px;
}


.centrol input{
	border-radius: 15px;
	margin-bottom: 50px;
	height: 30px;
	width: 2.5in;
	color: #9C1462;
	font-size: 14pt;
	text-indent: 10px;
}

.Marco h2{
	position: relative;
	top: 60px;
	margin-top: 20px;
	font-size: 24pt;
	font-weight: bold;
	color: #FFFFFF;
}

.Marco h3{
	margin-top: 180px;
	margin-bottom: 50px;
	color: #FFFFFF;
	font-size: 18pt;
	font-weight: bold;
}

.Marco p{
	color: #FFFFFF;
	margin-top: 50px;
	font-size: 14pt;
	font-weight: bold;
}



.cuadro{
	padding: 2px;
	border-radius: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 25px;

	width: 200px;

}






.boton{
	
	
	background-color:#FFFFFF;
	border-style: solid; 
	 /* #0E611B; */
	border-color:#FF9999;
	border-radius: 15px;
	
	width: 200px;
	height: 35px;
	font-size: 14pt;
	font-weight: bold;
	color: #9C1462;

	
	margin-top: 10px;
	margin-bottom: 10px;


/* 
	border-style example classes 
.b1 {border-style:none;}
.b2 {border-style:hidden;}
.b3 {border-style:dotted;}
.b4 {border-style:dashed;}
.b5 {border-style:solid;}
.b6 {border-style:double;}
.b7 {border-style:groove;}
.b8 {border-style:ridge;}
.b9 {border-style:inset;}
.b10 {border-style:outset;} */
}



.boton2{
	


	background: #FFFFFF;
	border-style: solid;
	border-color:#FF9999;
	border-radius: 15px;
	
	width: 200px;
	height: 35px;

	color: #9C1462;
	font-size: 14pt;
	font-weight: bold;

	margin-top: 15px;
	margin-bottom: 10px;
}




