
*{
	margin: 0;
	padding: 0;
}

body{
	/*
	https://coolors.co/gradients


	background: hsla(16, 100%, 76%, 1);
	background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
	background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
	background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA585", endColorstr="#FFEDA0", GradientType=1 );
*/
	background: hsla(132, 79%, 68%, 1);
	background: linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
	background: -moz-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
	background: -webkit-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6EEE87", endColorstr="#5FC52E", GradientType=1 );

}

.hm{
	width: 10in;
	height: 29in;
	position: relative;
	left: calc((100% - 11in)/2);
	color: limegreen;  
	background:#FFFFFF;

	padding-left: .5in;
	padding-right: .5in;
	padding-top: .3in;

	margin-top: .5in;
	margin-bottom: .5in;
	border-radius: 15px;
	border-style: solid;
	border:none;
}

.hm h1{
	text-align: center;
}

.hm h2{
	text-align: center;
	
}

.hm p{
	color: limegreen; 
	margin-top: 0.05in;
	
}

.hm i{
	font-weight: bold;
	font-size: 15pt;
	color: darkred;

	/*
	text-decoration: overline;
	text-decoration: line-through;
	text-decoration: underline;*/
}

.hm pre{
	color: limegreen; 
	margin-top: 0.05in;
	font-weight: bold;
	font-size: 11pt;
}
.hm a{
	
	font-weight: bold;
	font-size: 21pt;
	text-decoration: none;
	color: darkred; 

}

.hm textarea{
	width: 6in;
	height:1.5in;
	font-size: 14pt;
	font-weight: bold;
	background: limegreen;
	color: #FFFFFF;
}

.hm button{

	width: 2in;
	height: .5in;
	position: relative;
	left: calc((100% - 2in)/2);;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	background: limegreen;
	margin-top: 1in;
	border-radius: 15px;
	border-style: solid;
	border:none;
	
}

.index{
	width: 10in;
	height: 29in;
	position: relative;
	
	left: calc((100% - 11in)/2);

	/*darkred
	#D14D72
	#D5B4B4
	background-image: radial-gradient(circle at 50% -20.71%, #e6ff51 0, #c9ff4d 16.67%, #a5ff45 33.33%, #79f23c 50%, #3ee436 66.67%, #00d938 83.33%, #00d141 100%);
	*/
	
	color: limegreen;  
	background:#FFFFFF;

	padding-left: .5in;
	padding-right: .5in;
	padding-top: .3in;

	margin-top: .5in;
	margin-bottom: .5in;
	border-radius: 15px;
	border-style: solid;
	border:none;
}

.index u{
	color: purple;
}
.index a{
	text-decoration: none;
}

#hyper{
	color: limegreen;
	font-size: 15pt;
	font-weight: bold;
}


.index h1{
	text-align: center;
	color: limegreen; 
	margin-top: 0.2in;
	margin-bottom: 0.1in;
	font-size: 30pt;
	font-weight: bold;
}

.index h2{
	color: darkred; 
	margin-top: 0.2in;
	font-size: 24pt;
	font-weight: bold;

}

.index h3{
	text-align: left;
	color: darkblue; 
	margin-top: 0.2in;
	font-size: 15pt;
	font-weight: bold;
}



.index p{
	color: limegreen; 
	margin-top: 0.05in;
	
}

.index pre{
	color: limegreen; 
	margin-top: 0.05in;
	font-weight: bold;
	font-size: 11pt;
}




.p_h_p{
	width: 10in;
	height: 42in;
	position: relative;
	
	left: calc((100% - 11in)/2);

	/*darkred 
	FF4B3E
	1D1A31
4D2D52
F08CAE
	*/
	background-color: #41644A;
	color: #FFFFFF;
	padding-left: .5in;
	padding-right: .5in;
	padding-top: .3in;

	margin-top: .5in;
	margin-bottom: .5in;
	border-radius: 15px;
	border-style: solid;
	border:none;

}
.p_h_p h1{
	text-align: center;
	color:  #FFFFFF;
	margin-top: 0.2in;
	margin-bottom: 0.1in;
	font-size: 25pt;
	font-weight: bold;
}

.p_h_p h2{
	color:  #FFFFFF;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;

}
.p_h_p h3{
	text-align: center;
	color:  #FFFFFF;
	font-size: 15pt;
	font-weight: bold;
}


.p_h_p pre{
	font-weight: bold;
	font-size: 12pt;
}

.p_h_p i{
	color: greenyellow;
	font-weight: bold;
	text-decoration: underline;
	
}

.p_h_p button{

	width: 2in;
	height: .5in;
	position: relative;
	left: calc((100% - 2in)/2);;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	background: limegreen;
	margin-top: 1in;
	border-radius: 15px;
	border-style: solid;
	border:none;
	
}
