*{
	margin: 0;
	padding: 0;
}

body{
	/*Color de fonde de toda la pagina */
	background-color: #FFFFFF;
}



.eleccion{

 width: 7.5in;
 height: 8in;

 position: absolute;
 left:calc((100% - 7.5in)/2);
 top: 30px;


 color: #FFFFFF;
 background: #1D447D;

 border-radius: 15px;

 border:none;
 box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
 margin-bottom: 50px;

 padding-top: 30px;
 padding-bottom: 30px;

}

.eleccion h1{
	font-size: 28pt;
	font-weight: bold;
	margin-bottom: 100px;
}

.eleccion h2{
	font-size: 24pt;
	font-weight: bold;
	margin-bottom: 130px;
}

.eleccion h3{
	font-size: 24pt;
	font-weight:bold;
}


.eleccion button{
	height: .5in;
}




.Marco{
 top: 20px;
 width: 9in;
 height: 13.5in;

 position: relative;

 left: calc((100% - 9in)/2);

 color: #FFFFFF;
 background: #1D447D;
 padding-left: 43px;
 border-radius: 15px;

 border:none;
 box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
 margin-bottom: 50px;

 padding-top: 30px;
 padding-bottom: 30px;



}

.Marco input{
	height: .35in;

	border-radius: 8px;
	margin-bottom: 5px;
	text-indent: 10px;
	font-weight: bold;
	font-size: 14pt;
	color: #9C1462;
	border: none;

}

.Marco select{
	height: .35in;
	border-radius: 8px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14pt;
	color: #9C1462;
	border: none;
}

.Marco h1 {
	position: relative;
	left: 33%;

}

.Marco h2{
	position: relative;
	left: 24%;
	margin: 5px;
	margin-bottom: 15px;
}

.Marco h3{
	position: relative;
	left: 20%;
	margin: 6px;
}

.Marco p{
	margin: 10px;
	font-weight: bold;
	font-size: 14pt;
}



.organizacion{
	column-count: 2;
}

.organizacion input{
	width: 350px;
}
#titulo{
	position: relative;
	left: 35%;
}

#titulo2{
	

	position: relative;
	left: calc((100% - 3.7in)/2);
	font-weight: bold;
	font-size: 24pt;
	margin-top: 12px;
}

#titulo3{
	margin-top: 12px;
	margin-bottom: 12px;
	position: relative;
	left: 16%;
}

#correo{
	width: 200px;
	margin-top: 15px;
}


#Dsolicitante{
	position: relative;
	right: 192px;
}


.regional{
	top: 25px;
	margin-top: 5px;
	margin-bottom: 10px;
	
	column-count: 2;
}

.regional p{
	margin-top: 3px;
	margin-bottom: 6px;
}


.centro{
	column-count: 3;
	
}

.centro p{
	margin-top: 3px;
	margin-bottom: 5px;
}
.nacimiento{
	
	column-count: 3;
}

.nacimiento p{
	margin-top: 3px;
	margin-bottom: 3px;
}

.genero{
	margin-top: 10px;
	column-count: 3;
}

.genero p{
	margin-top: 6px;
	margin-bottom: 6px;
}
.domicilio{
	column-count: 2;
}


.domicilio p{
	margin-top: 9px;
	margin-bottom: 6px;
}


.municipio{
	column-count: 2;
}
.asentamiento{
	column-count: 2

}

.asentamiento input{
	width: 350px;
}


.boton{
	background: #FFFFFF;

	border-style: solid;
	
	border-radius: 15px;

	width: 2.5in;
	height: .5in;

	font-weight: bold;
	color: #9C1462;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 30px;
}

#botonPM{
	
	position: relative;
	top: 1in;
	left: calc((100% - 3in)/2);
	


}



.antiguedad{
	column-count:3;
}

.constitucion{
	column-count: 3;
}



.DatosProyectoPM{
 top: 40px;
 width: 62%;
 height: 12in;
 position: relative;
 left: 18%;

 color: #FFFFFF;
 background: #1D447D;
 padding-left: 45px;
 border-radius: 15px;
	
 border:none;
 box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
 margin-bottom: 50px;
 padding-top: 30px;
 padding-bottom: 30px;
}


.DatosProyectoPM input{
	color: #9C1462;
	border-radius: 15px;
	border: none;
	height: .3in;
	width: 4in;
	margin-bottom: 10px;
	margin-top: 10px;
	text-indent: 10px;
}

.DatosProyectoPM select{
	height: .3in;
	width: 1.8in;
	border-radius: 15px;
	border: none;
	text-indent: 10px;
}

.DatosProyectoPM p{
	font-weight: bold;
	margin-top: 10px;
	
}

.NombreProyecto{
	column-count: 2;
}

.FechaConstitucion{
	column-count: 3;
}


.TipoDomicilioProyecto{
	column-count: 2;
}
.conceptoApoyo{

	width: 75%;
	height: 500px;
	position: relative;
 	left: 180px;
 	top: 50px;

 	color: #FFFFFF;
 	background: #1D447D;
 	padding-left: 43px;
 	border-radius: 15px;
	
	border:none;
 	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
 	margin-bottom: 50px;
 	padding-top: 30px;
 	padding-bottom: 30px;
}

.conceptoApoyo h1{
	margin-top: 10px;
	position: relative;
	left: 26%;
	padding-bottom: 20px;
}

.conceptoApoyo h5{
	position: absolute;
	top: 510px;
}
	table{
	position: relative;
	left: 5px;
	
	border-radius:15px;
	border-color: #FFFFFF;
	margin-bottom: 12px;
}




.conceptoApoyo input{
	border-radius: 15px;
	color: #9C1462;
	width: 330px;
	text-indent: 5px;
	font-size: 14pt;

}




.UnidadMedida input{
	width: 70px;
	text-indent: 10px;
}

.ApoyoEstatal input{
	width: 180px;
	text-indent: 75px;
    
}
.ApoyoMunicipal input{
 	width: 180px;
	text-indent: 75px;
}


.AportaciónBeneficiario input{
	width: 220px;
	text-indent: 100px;
}


.requisitos{
	width: 70%;
	height: 900px;
	position: relative;
 	left: 200px;
 	top: 50px;

 	color: #FFFFFF;
 	background: #1D447D;
 	padding-left: 43px;
 	border-radius: 15px;
	
	border:none;
 	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
 	margin-bottom: 50px;
 	padding-top: 30px;
 	padding-bottom: 30px;
 	padding-right: 35px;

 	text-align: justify;

}


.requisitos h1{
	position:relative;
	left: 120px;
	margin-top: 10px;
	margin-bottom: 25px;
}



.requisitos h3{
	position: relative;
	left: 380px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.requisitos p{
	

}

.declaraciones{
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

.declaraciones p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.requisitos input{
	border-radius: 15px;
}

.observaciones{
	position: relative;
	left: 35px;
	border-radius: 15px;
	color: #9C1462;
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: 70px;

}
.documentos{
	column-count:2;
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 14pt;
}

.documentos input{
	margin-left: 2in;
}

.final{
 top: .35in;
 width: 10in;
 height: 3in;
 position: relative;
 left: calc((100% - 10.25in)/2);

 color: #FFFFFF;
 background: #1D447D;
 padding-left: 43px;
 border-radius: 15px;
	
 border:none;
 box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
 margin-bottom: 50px;
 padding-top: 30px;
 padding-bottom: 30px;

}

